<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Index page!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body style="background-color:#333">
    <header style="background-color:#b0b">
      <h1>Super page!</h1>
      <h2>It is currently <%= new Date().toISOString() %></h2>
    </header>
    <main style="color:#bada55;">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat accusamus omnis
        voluptatum tenetur quam unde earum deleniti maiores eligendi. Necessitatibus
        reiciendis ratione aperiam dolorum earum, nisi fugiat amet a. Libero!
      </p>
    </main>
  </body>
</html>